<div class="min-h-screen flex flex-col items-center justify-center bg-cover bg-center bg-fixed p-4 sm:p-6 md:p-10" style="background-image: url('assets/Background/Animals-bg.jpg')">
    <!-- Buttons -->
    <div class=" flex flex-col sm:flex-row justify-center items-center sm:space-x-4 space-y-4 sm:space-y-0">

        <button routerLink="/home" routerLinkActive="active" class="px-6 py-3 rounded-full bg-gradient-to-r from-lime-200 to-green-300 
               text-gray-800 font-semibold text-base sm:text-lg shadow-md 
               hover:scale-105 hover:shadow-lg transition-all w-44 sm:w-auto">
        ⬅️ Back to Home
    </button>

        <button routerLink="/next-level" routerLinkActive="active" class="px-6 py-3 rounded-full bg-gradient-to-r from-lime-200 to-green-300 
               text-gray-800 font-semibold text-base sm:text-lg shadow-md 
               hover:scale-105 hover:shadow-lg transition-all w-44 sm:w-auto ">
        Next Level ➡️
    </button>

    </div>

    <div class="bg-lime-100 mt-4  backdrop-blur-md rounded-2xl shadow-lg shadow-gray-900 text-center p-6 sm:p-8 md:p-10 w-full max-w-6xl border border-white/50">

        <!-- Title -->
        <h1 class="text-5xl sm:text-6xl font-extrabold  bg-clip-text bg-gradient-to-r from-pink-400 via-purple-400 to-sky-400 drop-shadow-md tracking-wider  mb-10" style="font-family: 'Comic Neue', cursive;">
            🐾 Meet the Animals 🦋
        </h1>

        <!-- Animals Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8 justify-items-center mb-10">
            <span *ngFor="let animal of animals; let i = index" (click)="playSound(animal)" class="flex flex-col items-center 
               bg-gradient-to-br from-pink-100 via-lime-100 to-blue-100
               text-gray-700 font-bold
               p-4 sm:p-4 md:p-4 
               rounded-2xl border-gray-900 shadow-md shadow-gray-900
               hover:scale-110 hover:shadow-lg 
               transition-transform duration-300 ease-out cursor-pointer select-none">
        
        <img
          [src]="'assets/animals-name-images/' + animal + '.webp'"
          [alt]="animal"
          class="w-24 h-24 sm:w-34 sm:h-34 md:w-48 md:h-48 
                rounded-lg mb-4 drop-shadow-md"
        />

        <p class="text-xl sm:text-2xl md:text-2xl font-bold capitalize text-gray-800 drop-shadow-sm">
          {{ animal }}
        </p>
      </span>
        </div>


    </div>
</div>