<div class="card">
    <h1 class="bounce-text">
        <span>F</span><span>u</span><span>n</span><span>L</span><span>e</span><span>a</span><span>r</span><span>n</span><span>i</span><span>n</span><span>g</span><span>f</span><span>o</span><span>r</span><span>K</span><span>i</span><span>d</span><span>s</span>
    </h1>
    <h2>Control Campus</h2>

    <div class="button-grid">
        <button class="yellow" [routerLink]="'/abcd'" routerLinkActive="active">🅰️🅱️ Learn ABCD</button>
        <button class="green" [routerLink]="'/animals'" routerLinkActive="active">🐶🐱 Learn Animals</button>
        <button class="blue" [routerLink]="'/numbers'" routerLinkActive="active">🔢 Learn Numbers</button>
        <button class="purple" [routerLink]="'/draw'" routerLinkActive="active">✍️ Draw It!</button>
        <button class="red" [routerLink]="'/math'" routerLinkActive="active">➕ Learn Math</button>
        <button class="orange" [routerLink]="'/poems'" routerLinkActive="active">📚 Learn Poems</button>
    </div>


    <footer>© 2025 CC</footer>
</div>