<div class="min-h-screen  flex items-center justify-center" style="background: url('https://img.freepik.com/premium-photo/paper-watercolors-paint-brush-some-art-stuff-table-top-view_127657-13649.jpg'); background-repeat: no-repeat; background-size: cover;">
    <!-- bg-gradient-to-br from-red-300 to-cyan-700 -->
    <div class="bg-white bg-opacity-90 backdrop-blur-md shadow-2xl rounded-3xl p-10 w-[100%] max-w-6xl text-center">

        <h1 class="text-3xl font-extrabold text-red-900 mb-4 text-center drop-shadow-sm" style="font-family: 'Comic Neue', cursive;">
            FUN LEARNING FOR KIDS
        </h1>




        <hr style="border: 2px solid black; margin-bottom: 30px;">
        <!-- <h2 class="text-gray-700 font-medium text-lg mb-8">Control Campus</h2> -->



        <!-- Buttons -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-items-center">
            <button routerLink="/abcd" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
    🔤 Play with Letters
  </button>

            <button routerLink="/animals" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
    🐶 Meet the Animals
  </button>

            <button routerLink="/numbers" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
    🔢 Count with Me
  </button>

            <button routerLink="/drawing" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
    🎨 Let's Draw
  </button>

            <button routerLink="/math" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
    🧮 Fun with Numbers
  </button>

            <button routerLink="/poems" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
    🎵 Poem Time
  </button>


            <button routerLink="/colors" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
  🌈 Colors for Kids 🌙
  </button>

            <button routerLink="/fruits" class="py-6 w-[350px] bg-gradient-to-r from-yellow-200 to-blue-300  bg-clip-text font-extrabold text-3xl rounded-full border-4 border-blue-400 shadow-lg hover:scale-110 hover:shadow-2xl transition-all duration-300 ease-out"
                style="font-family: 'Comic Neue', cursive;">
   🍓 Fruits for Kids 🍑
  </button>

        </div>



        <!-- Footer -->
        <footer class="text-bold text-gray-900 mt-8">© 2025 CC</footer>