.card {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgb(17, 0, 0);
    text-align: center;
    margin: 20px;
    height: 94.8vh;
}

h1 {
    font-size: 2.9rem;
    color: #0c001f;
    font-weight: bold;
    margin-bottom: 0px;
}

.letters-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    justify-items: center;
}

.letters-grid span {
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: #e70303;
    border-radius: 50%;
    font-size: 2.6rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 2px 8px rgba(46, 5, 252, 0.797);
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none;
}

.letters-grid span:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.back-button {
    margin-bottom: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #28a745;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.back-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.next-button {
    margin-bottom: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #120028;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.back-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}